
*{box-sizing:border-box;word-break: keep-all;}
html,
body {
  padding: 0;
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}
ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}
#final_result {
  max-width: 1440px;
  margin: 0 auto;
}

.proc_bar {
  margin-top: 100px;
}

.proc_bar_box {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid #258ba4;
}

.proc_bar_box .active{background: #258ba4; color: #fff}

.proc_bar_box li {
  padding: 10px 20px;
  border: 1px solid #eee;
  text-align: center;
  width: 16%;
  border-bottom: none;
}
.journal_tabel {
  width: 100%;
}
.journal_tabel tbody tr {
  height: 50px;
  display: flex;
}
.journal_tabel tbody tr td {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.journal_tabel thead th,
.journal_tabel tbody tr td {
  border: 1px solid #eee;
}
.journal_tabel tbody tr td input {
  padding: 7px;
  width: 95%;
}
.journal_tabel tbody tr td:nth-child(odd) {
  background: #f6fbff;
  flex: 2;
}

.journal_tabel tbody tr td:nth-child(even) {
  flex: 8;
}

.final_result_data {
  width: 100%;
}

.final_result_data thead th {
  background: #f6fbff;
  border: 1px solid #eee;
  padding: 10px 8px;
}
.final_result_data tbody tr td {
  border: 1px solid #eee;
  text-align: center;
  height: 45px;
}
.final_result_data tbody tr td:nth-child(2) {
  text-align: left;
  padding-left: 3px;
  display: flex;
  align-items: center;
}
.journal_search_btn {
  background: #f6fbff;
  border: 1px solid #258ba4;
  padding: 3px 5px;
}
.final_result_data input[type="date"] {
  padding: 3px;
  border: 1px solid #eee;
}

.sr_box {
    display: flex;
    flex-wrap: wrap;
    /* max-width: 950px; */
    border-bottom: 1px solid #ddd;
    /* border-right: 1px solid #ddd; */
}
.sr_box > textarea{border: 1px solid #ddd;width: 100%;padding: 1rem;resize: none;}
.sr_box .cl:first-child{/* border-top:1px solid #ddd; */}
.sr_box .cl {
    display: flex;
    width: 50%;
    align-items: center;
    /* border: 1px solid #ddd; */
    z-index: 9;
    overflow: hidden;
    /* border-top: 0px; */
    box-sizing: border-box;
    border-top: 1px solid #ddd;
    border-right: 0px;
    /* border-left: 1px solid #ddd; */
}
.sr_box .cl100{width: 100%;}
.sr_box .cl100 > div{width: 90% !important;}
.sr_box .cl100 > div input{max-width: 100% !important;}
.sr_box .cl .required:before {content: "*";
    display: inline-block;
    font-size: .8rem;
    color: #c32929;
    padding-right: 4px;
}
.sr_box .cl p {
    margin: 0px;
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
    width: 120px;
    text-align: left;
    background: #f6fbff;
    height: 100%;
    align-items: center;
    display: block;
    font-weight: 700;
    display: flex;
    z-index: 0;
    position: relative;
    width: 40%;
    max-width: 180px;
    /* border-right: 1px solid #ddd; */
    /* border-left: 1px solid #ddd; */
}

.sr_box .cl > div {
    display: flex;
    padding: .5rem 2rem;
    background: #fff;
    width: 80%;
    flex-wrap: wrap;
}

.sr_box .cl > .fl_nw{flex-wrap: nowrap;}
.fl_nw{display: flex;flex-wrap: nowrap;align-items: center;}

.sr_box .cl > div textarea{width: 100%;margin-top: 1rem;border-color: #ddd;resize: none;}
.sr_box .cl > .em{display: flex; align-items: center;}
.sr_box .cl > .em select{margin-left: 6px;}
.sr_box .cl > .tel{display: flex; align-items: center;}
.sr_box .cl > .radio{display: flex; align-items: center;}
.sr_box .cl > .checkbox{display: flex; align-items: center;}
.sr_box .cl > div span{margin: 0px 6px;display: flex;white-space: nowrap;align-items: center;}

.sr_box .cl > div select{
    width: 100%;
    padding: .5rem 1rem;
    border: 1px solid #ddd;
    margin-right: 6px;
    height: 100%;
}

.sr_box .cl div input {
    padding: .5rem 0.25rem;
    border: 1px solid #ddd;
    width: 100%;
    display: block;
    max-width: 480px;
    height: 100%;
    box-sizing: border-box;
}
.sr_box .cl div input[type="tel"]{text-align: center;}
.sr_box .cl div .readonly{background: #eaeaea;}
.sr_box .cl00 div{width: 80%;}
.sr_box .cl00 div input{width: 100%;max-width: none;}


.sr_box .cl div small {
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

.sr_box .cl div .btn_grl {
    display: flex;
    align-items: center;
}

.sr_box .cl div .btn_grl div {
    margin-left: 12px;
    border: 1px solid rgb(215, 215, 215);
    padding: .5rem 0.75rem;
    white-space: nowrap;
    cursor: pointer;
    font-size: .8rem;
}

.sr_box .cl div .btn_grl div select {
}

.sr_box .cl div .btn_grl .btn_active {
    color: rgb(255, 255, 255);
    background: rgb(4 125 150);
}

.pj_table {width: 100%;}

.pj_table .cl_fr {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pj_table .cl_fr p {
}

.pj_table .cl_fr small {
}

.pj_table .cl_fr small {
}

.pj_table .pj_table_hd {
    display: flex;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
}

.pj_table .pj_table_hd div {
    text-align: center;
    padding: 0.75rem 1rem;
    background: rgb(246 251 255);
    width: 20%;
    border-right: 1px solid #ddd; 
    font-weight: 700;
    white-space: nowrap;
}

.pj_table .pj_table_hd div:last-child {
    border-right: 0px
}

.pj_table .pj_table_wrap {
}

.pj_table .pj_table_wrap .pj_content {
}

.pj_table .pj_table_wrap .pj_content div {
}

.pj_table .pj_table_wrap .pj_content div .button_pj {
}

.pj_table .pj_content_wrap {
}

.pj_table .pj_content_wrap .pj_content {
    display: flex;
}
.pj_table .pj_content_wrap .pj_content .ip2{flex-wrap: nowrap;}
.pj_table .pj_content_wrap .pj_content > div {
    padding: .5rem 1rem;
    width: 20%;
    display: flex;
    align-items: center;
    border-width: 0px 0px 1px 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: ddd;
    border-bottom-color: #ddd;
    border-left-color: #ddd;
    border-image: initial;
    border-right-style: initial;
    border-right-color: initial;
    font-size: 0.925rem;
    text-align: center;
    flex-wrap: wrap;
    white-space: break-spaces;
}

.pj_table .pj_content_wrap .pj_content > div input{width: 100%;border-color: #ddd;padding: .5rem 0.25rem;border: 1px solid #ddd;width: 100%;display: block;max-width: 390px;height: 100%;margin: 0;box-sizing: border-box;}
.pj_table .pj_content_wrap .pj_content > div input[type="checkbox"]{max-width: 14px;margin: 0 auto}
.pj_table .pj_content_wrap .pj_content > div input[type="radio"]{max-width: 18px;margin: 0 auto;}
.pj_table .pj_content_wrap .pj_content > div:first-child {
    border-left: 0px;
}

.pj_table .pj_content_wrap .pj_content div .button_pj {
    text-align: center;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #666;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: .75rem;
    margin-top: .125rem;
}

.pj_table .pj_pagenation_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pj_table .pj_pagenation_wrap .first {
}

.pj_table .pj_pagenation_wrap .prev {
}

.pj_table .pj_pagenation_wrap .page_active {
    background: #115981;
    color: rgb(255, 255, 255);
    border-radius: 50%;
}

.pj_table .pj_pagenation_wrap .next {
}

.pj_table .pj_pagenation_wrap .last {
}

.pj_table .pj_pagenation_wrap div {
    padding: 0.75rem;
    cursor: pointer;
}

.pj_table .pj_pagenation_wrap p {
    padding: 0.75rem;
    width: 0.5rem;
    height: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn_search{
    padding: .5rem 2rem;
    background: #333;
    display: inline-block;
    color: #fff;
    margin-left: auto;
    display: block;
    width: 7rem;
    text-align: center;
    margin: 1rem 0 1rem auto;
}

.mentor_info_wrap{}
.mentor_info_wrap .mi_container{display: flex;flex-wrap: wrap;}
.mentor_info_wrap .mi_container .mi_content{
    display: flex;
    width: 50%;
}
.mentor_info_wrap .mi_container .mi_content p{}
.mentor_info_wrap .mi_container .mi_content div{}
.mentor_info_wrap .mi_container .mi_content div input{}

.pj_table .pj_content_wrap .pj_content > .tw5{width: 5%;}
.pj_table .pj_content_wrap .pj_content > .tw10{width: 10%;}
.pj_table .pj_content_wrap .pj_content > .tw20{width: 20%;}
.pj_table .pj_content_wrap .pj_content > .tw30{width: 30%;}
.pj_table .pj_content_wrap .pj_content > .tw40{width: 40%;}
.pj_table .pj_content_wrap .pj_content > .tw50{width: 50%;}
.pj_table .pj_content_wrap .pj_content > .ip2 input{width: 80%; max-width: 100%;}
.pj_table .pj_content_wrap .pj_content > .ip2 input:last-child{width: 20%;margin-left: 12px;}
.pj_table .pj_table_hd .tw5{width: 5%;}
.pj_table .pj_table_hd .tw10{width: 10%;}
.pj_table .pj_table_hd .tw20{width: 20%;}
.pj_table .pj_table_hd .tw30{width: 30%;}
.pj_table .pj_table_hd .tw40{width: 40%;}
.pj_table .pj_table_hd .tw50{width: 50%;}
.pj_table .pj_content_wrap .pj_content > .tw10{width: 10%;}

.acodian_01{}

.acodian_01 .sr_title{margin-top: 2rem;font-size: 1.125rem;padding: 1rem;font-weight: 700;cursor: pointer;display: flex;justify-content: space-between;align-items: center;border-bottom: 3px solid #0f5b81; color: #0f5b81;}
.acodian_01 .sr_title p{margin: 0;}

.sr_active_dn .sr_title p{transform:rotate(180deg)}

.sr_active_dn .sr_title{margin-top: 2rem;font-size: 1.125rem;padding: 1rem;font-weight: 700;cursor: pointer;display: flex;justify-content: space-between;align-items: center;border-bottom: 3px solid #ddd !important;color: #666;}
.sr_active_dn .sr_box{display: none;}


#spwrapc{display: flex;flex-wrap: wrap;padding: 0;}
#spwrapc > div{width: 100%;margin: 0;padding: 0;display: flex;align-items: center;border-bottom: 1px solid #ddd;z-index: 9;}
#spwrapc > div p{
    border: 0px;
    border-right: 1px solid #ddd;
    background: #f9f9f9;
    display: grid;
    height: 100%;
    text-align: center;
    vertical-align: middle;
}
#spwrapc > div:last-child{border-bottom:0px}
#spwrapc > div div{
    width: 100%;
    padding: .5rem 2rem;
}
#spwrapc > div div input{}
#spwrapc > div div select{}

.login_box_wrap{display: flex;flex-wrap: wrap;gap: 1rem;margin-top: 5rem;}
.login_box_wrap .login_box{align-items: center;justify-content: center;gap: 1rem;flex-wrap: wrap;background: #efefef;border-radius: 1rem;cursor: pointer;width: calc(50% - .5rem);text-align: center;font-size: 1.125rem;color: #333;padding: 6rem 0;transition: .35s ease;}
.login_box_wrap .login_box:hover{
    background: #b9dff1;
}
.login_box_wrap .guest_login_box{align-items: center;justify-content: center;gap: 1rem;flex-wrap: wrap;border-radius: 1rem;}
.login_box_wrap .login_box h4{
    font-size: 2rem;
    margin: 0;
}
.login_box_wrap .login_box p{margin-top:1rem
}

.login-container {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group button {
  width: 100%;
  padding: 1rem;
  background-color: #2aaae6;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.form-group button:hover {
  background-color: #b9dff1;
}

.login_table_wrap {
    max-width: 600px;
    margin: 0 auto;
}
.login_table_wrap .login_table{}
.login_table_wrap .login_table h2{}
.login_table_wrap .login_table form{}
.login_table_wrap .login_table form .form-group{}
.login_table_wrap .login_table form .form-group label{}
.login_table_wrap .login_table form .form-group input{}
.login_table_wrap .guest_login_box{}
.login_table_wrap .guest_login_box a{font-weight: 700;}

.tb_title{font-size: 1.5rem;margin: .5rem 0;color: #0f5b81;position: relative;padding-left: 1rem;}
.tb_title::after{clear: both;content: '';display: block;;width: 4px;height: 50%;background: #0f5b81;position: absolute;top: 50%;transform: translateY(-50%);left: 0;}

.pj_btnwrap{display: flex; gap: .5rem;}
.pj_btnwrap button{border: none;padding: .5rem 1rem;border-radius: .5rem;cursor: pointer;}
.pj_btnwrap .btn_type01{padding: 0.5rem 1rem;background: #0f5b81;color: #fff;}
.pj_content div button{border: none;padding: .5rem 1rem;border-radius: .5rem;cursor: pointer;margin: 0 auto;}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}